.result-container {
  border-radius: 30px;
  text-align: center;
  padding: 40px;
  background-image: linear-gradient(180deg, hsla(241, 81%, 54%, 0.8), hsla(241, 81%, 54%, 1));
  
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 33px;
}

.result-container h1,
.result-container h3,
.result-container .score,
.result-container h4,
.result-container p {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.result-container h4, 
.result-container p, 
.result-container span{
  color: hsl(241, 100%, 89%);
}

.result-container h4 {
  font-size: 24px;
  margin-top: 0;
}

.result-container h1 {
  font-size: 70px;
}



.score {
  background-image: linear-gradient(180deg, hsla(256, 72%, 46%, 1), hsla(256, 72%, 46%, 0.1));
  border-radius: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-container div {
  height: 200px;
  width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-container h3 {
  font-size: 30px;
}

.result-container h1, h3 {
  color: white;
}

.result-container p {
  text-align: center;
  margin-top: -20px;
  padding-left: 11px;
  padding-right: 11px;
}