.summary-container {
  padding: 40px;
  border-radius: 20px;
  padding-bottom: none;
  height: auto;

  display: flex;
  flex-direction: column;
  flex: 1;
}

.summary-container h4 {
  color: hsl(224, 30%, 27%);
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 25px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.reaction-card,
.memory-card,
.verbal-card,
.visual-card {
  padding: 16px;
  border-radius: 10px;
  font-weight: 700;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reaction-card {
  background-color: hsla(0, 100%, 67%, 0.05);
}

.memory-card {
  background-color: hsla(39, 100%, 56%, 0.05);
}

.verbal-card {
  background-color: hsla(166, 100%, 37%, 0.05);
}

.visual-card {
  background-color: hsla(234, 85%, 45%, 0.05);
}

.reaction,
.memory,
.verbal,
.visual {
  display: flex;
  align-items: center;
}

.summary-score {
  color: hsl(224, 30%, 27%);
}

img {
  margin-right: 10px;
}

.reaction {
  color: hsla(0, 100%, 67%, 0.8);
}

.memory {
  color: hsla(39, 100%, 56%, 0.8);
}

.verbal {
  color: hsla(166, 100%, 37%, 0.8);
}

.visual {
  color: hsla(234, 85%, 45%, 0.8);
}

.over {
  color: grey;
}

button {
  background-color: hsl(224, 30%, 27%);
  margin-top: 25px;
  padding: 18px;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

button:active {
  background-color: hsla(256, 72%, 46%, 1);
}